
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <form method="post" action="@Url.Action("Index2")">
        <p>
            編號<input type="text" name="PId" value="@ViewBag.PId" />
        </p>
        <p>
            品名<input type="text" name="PName" value="@ViewBag.PName"/>
        </p>
        <p>
            單價<input type="text" name="Price" value="@ViewBag.Price"/>
        </p>
        <p>
            <input type="submit" value="新增" />
        </p>
        <hr />
        @{ 
            if(ViewBag.PId != null && ViewBag.PName!= null &&ViewBag.Price != null)
            {
                <p>完成新增</p>
                <p>編號:@ViewBag.PId  |  品名: @ViewBag.PName | 單價: @ViewBag.Price </p>
            }
         }
        </form>

</body>
</html>
